.violationdiv {
    margin: 20px;
    width: 94%;
    margin-left: 3rem;


}
.voilation-para h2{
    font-size: 25px;
    font-weight: bold;
    color: black;
    
}
.violation {


    background-color:rgba(252, 252, 252, 0.839);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;


}

.violationlabel {
    font-weight: bold;
    margin-top: 10px;
}
 .addform-section{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 2rem;
}

 .addform-sectionticketinfo
  {

    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    
}

.violation input[type="text"],
.violation select {

    border-radius: 5px;
    width: 90%;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    background-color: rgba(227, 208, 208, 0.2);
}


.violation label {
    width: -moz-fit-content;
    
}
.violation select {
    background-color: #fff;
    width: 350px;

}


.violationsubmit[type="submit"] {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}

.violationsubmit[type="submit"]:hover {
    background-color: #0d47a1;
}

.ticket-table {
    width: 100%;
    height: 80%;
    overflow-x: scroll;
    overflow-y: scroll;
}
.ticket-table table{
    width: 1233px;
    border-collapse: separate;
    margin-bottom: 20px;
    margin-top: 10px;
}
.addsavebtnticket .removebutton,
.savebutton {
    display: grid;    
    padding: 10px;
    background-color: #4850e3d1;
    color: rgb(250, 246, 246);
    width: 251px;
    border: none;
    border-radius: 12px;
    font-size: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 32rem;
    
}
.addform-sectionticketlocation {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 11px;
    margin-left: 2rem;

    
}
