body{
  /* background-color: rgb(125, 166, 192) ; */
  background-color: rgb(95, 132, 165) ;

}
.App { 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topbar {
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0000;
  width: 100%;
  height: 10vh;

}

.icon {
  display: flex;
  align-items: center;
  margin-right: 29rem;
  width: fit-content;
} 



 .topbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #0a0000;
width: 100%;
}



.log-icon {
display: flex;
align-items: center;
margin-right: 25rem;
background-color: black;
width: 100%;
}


.icon img {
height: 50px;
width: 50px;
vertical-align: middle;


}

.search-container {
display: flex;
align-items: center;
float:right;
margin-right: 2%;
}



.profile {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.profile-image img {
width: 100px;
height: 100px;
border-radius: 50%;
}

.profile-name {
color: #fff;
margin-top: 10px;
font-size: larger;
font-size: 22px;
font-weight: bold;
}



h2.text {
font-size: 100%;
font-weight: bold;
color: white;
text-align: center;
margin-left: 1rem;
}



.search-container {
display: grid;
justify-content: end;

}

.searchbar {
display: flex;
padding: 10px;
}

.search-container input[type="text"] {
border-radius: 30px;
padding: 4px 8px;
border: none;
margin-left: px;
font-size: 14px;
width: 100%;
background-color: rgb(255 255 255);
}


.search-container button {
padding: 5px;
background-color: #4142ffd1;
color: #fff;
border: none;
border-radius: 9px;
font-size: small;
cursor: pointer;
width: 100px;
height: 30px;
margin-top: 1rem;
}


.search-container button:hover {
background-color: white;
} 

table {
border-collapse: separate;
margin-bottom: 20px;
margin-top: 10px;
width: 980px;

}

thead {
background-color: #f2f2f2;
font-weight: bold;
}

th,
td {
text-align: left;
padding: 8px;
border: 1px solid #ddd;
}

th {
background-color: #4CAF50;
color: white;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

tr:hover {
background-color: #ddd;
}

.logoutbtn {
display: inline-block;
background-color: #070e6a;
padding: 10px 20px;
margin:15px;
border-radius: 25px;


}

.logoutbtn a {
font-weight: bold;
color: #0a0000;
text-decoration: none;
}

.logoutbtn:hover {
background-color: #896e64;;
}


  

  
  