.accidentbody {
    margin: 20px;
    width: 1000px;
    margin-left: 20rem;

}

.accidentform {
    padding: 10px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accidenth3 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

.form-section {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 3rem;
}

.form-section label {

    font-weight: bold;
    margin: 5px;
}

.accidentuser {
    display: flex;
    /* flex-direction: row; */
    gap: 50px;
    margin-bottom: 10px;

}


.form-sectionfalut .falutdriverinputcontainer,
.form-sectionvictim .victiminputcontainer {
    
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;




}

.form-sectionfalut input,
.form-sectionvictim input {

    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
}



.form-section input[type="text"],
.form-section input[type="date"],
.form-section input[type="tel"],
.form-section input[type="email"],
.form-section input[type="number"],
.form-section textarea {
    
    margin: 10px;
    padding: 8px;
    width: 27%;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 1.5;
}

.form-section textarea {
    flex-basis: calc(100% - 10px);
    resize: vertical;
}

.form-section input[type="submit"] {
    background-color: #007bff;

    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.savebtn{
    
    
    margin-left: 30%;
}

.removebutton,
.savebutton {
    display: grid;
    padding: 10px;
    
}

/* .removebutton,
.savebutton {
    position: relative;
    left: 37%;
    right: 40%; */



.removebutton,
.savebutton {
    padding: 10px;
    background-color: #4850e3d1;
    color: black;
    width: 50%;
    border: none;
    border-radius: 12px;
    font-size: bold;
    font-size: 15px;
    cursor: pointer;
   
    
}


.removebutton:hover,
.savebutton:hover {
    background-color:rgb(210, 149, 149);
}

.accident-table {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 20rem;
};