.traffic {
    margin:20px;
    
}
.officer-heading h2{
    font-size: 15px;
    font-weight: bold;
    color: black;
    
}


.addTraffic {
       /* width: 1000px; */
       padding: 10px;
    
       align-items: center;
       display: flexbox;
       flex-wrap: bac;
       background: whitesmoke;
       border-radius: 30px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       height: 282px;
}

.officerform-section{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 10rem;
}

.officerform-sectionbasicinfo,
.officerform-sectionjobinfo {

    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;

 
}


.addTraffic input[type="text"] {
    margin: 10px;
    padding: 8px;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 1.5;
    width: 250px;
}

  .savebutton  {
    padding: 10px;
    background-color: #4850e3d1;
    color: black;
    width: 36%;
    border: none;
    border-radius: 12px;
    font-size: bold;
    font-size: 15px;
    cursor: pointer;

} 

/* button[type="submit"] {
   
    padding: 15px;
    background-color: #5875bdd1;
    color: black;
    width: 37%;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
   
} */


button[type="submit"]:hover {
    background-color:  #896e64;;
}


.officer-table {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
  

}